body{
    padding: 0;
    margin: 0;
}

a:visited{
    color: #000000;
}

.cabecero {
    position: relative;
    background: linear-gradient(to right, #063565 0%, #5059bc 100%);
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente */
    justify-content: space-between; /* Alinea los elementos a la derecha */
    margin: 0;
    padding: 0px;
    height: 75px;
}

.bandera {
    margin: 0 0 0 150px;
    width: 350px;
    height: 125px;
    /*background: linear-gradient(to bottom, #1F93BC 0%,#2595D4 33%, white 33%, white 66%, #4BA32A 66%, green 100%);*/
    background: linear-gradient(to right, green 0%, #4BA32A 33%, white 33%, white 66%, #1F93BC 66%,#2595D4 100%);
    position: relative;
    left: 0; /* Posiciona la bandera a la izquierda del header */
    top: 0; /* Alinea la bandera al inicio del header */
    /*transform: rotate(90deg); /* Rota la bandera 90 grados */
}


.cabecero p {
    color: #fff;
    margin: 0 15px; /* Añade un margen a la derecha del párrafo */
}

.cabecero a {
    margin-right: 10px; /* Añade un margen a la derecha de los enlaces */
}

#nav-bar-mobile{
    display: none;
}

.contacto{
    display: flex;
    align-items: center;
    margin: 0 70px;
}

.contenedor{
    position: relative;
    width: 100%;
    padding: 50px 0;
    background-image: url('fondo-menu.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    color: white; /* Cambia el color del texto para que sea legible */
    padding-top: 50px; /* Ajusta el espaciado superior para que el texto no esté pegado al borde superior */
    opacity: 1;
}

.titulo-y-logo{
    display: flex;
    margin-left: 160px;
}

.titulo-y-logo img{
    width: 16%;
}

.titulo_subse{
    margin: 0;
    color: #5A5A5A;
}

.titulo_subse p, h2, h3{
    padding: 0;
    margin: 0;
}


.volver-inicio{
    display: flex;
    margin: 0 25px;
}

.volver-titulo{
    font-family: Arial, Helvetica, sans-serif;
    color: #31363F;
    align-self: center;
    margin-left: 15px;
    font-size: 100%;
}

.noticias-container{
    background: #F7C64D;
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    padding: 50px 0;
}

.noticias-titulo{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 25px 0;
    color: #31363F;
}

.noticias-flexibles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.noticias-card-noticias{
    display: contents;
    margin: 50px;
    list-style: none;
    justify-content: center;
}

.enlace-noticia{
    text-decoration: none;
    display: grid;
}


.noticia-card{
    display: grid;
    width: 250px;
    height: 100%;
    background-color:#fff;
    padding: 10px;
    margin: 10px 10px;
}

.noticia-card:hover{
    background-color: #4BA32A;
}

.noticia-imagen{
    justify-self: center;
    width: 225px;
    height: 175px;
}

.noticia-titulo{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 10px 0;
    color: #31363F;
}

.noticia-subtitulo{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: medium;
}

.fecha-noticia{
    margin: 0;
}

.footer-container{
    padding: 50px 0;
    background-color: #5A5A5A;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 50;
}

@media (max-width:768px){

    .cabecero a{
        margin-left: 10px;
    }
    
    .transparencia{
        display: none;
    }

    .contacto{
        background: linear-gradient(to right, #063565 0%, #5059bc 100%);
        justify-content: center;
        position: fixed; 
        width: 100%;
        z-index: 20;  
        margin: 0;
        height: 75px;
    }
    
    .menu-icon {
        display: flex;
        align-self: center;
        padding: 10px;
        cursor: pointer;
        font-size: xx-large;
    }


    #noticia-subtitulo{
        margin: 0 30px;
        text-align: justify;
        font-size: 125%;
    }

    #noticia-contenido{
        text-align: justify;
        margin: 0 30px;
        font-size: 100%;
        line-height: 2;
    }

    #fechaPublicacion{
        margin: 15px 30px;
    }
}