body{
    padding: 0;
    margin: 0;
}

button{
    cursor: pointer;
}

.cabecero {
    position: relative;
    background: linear-gradient(to right, #063565 0%, #5059bc 100%);
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente */
    justify-content: space-between;
    margin: 0;
    padding: 0px;
    height: 75px;
}

.bandera {
    margin: 0 0 0 150px;
    width: 350px;
    height: 125px;
    /*background: linear-gradient(to bottom, #1F93BC 0%,#2595D4 33%, white 33%, white 66%, #4BA32A 66%, green 100%);*/
    background: linear-gradient(to right, green 0%, #4BA32A 33%, white 33%, white 66%, #1F93BC 66%,#2595D4 100%);
    position: relative;
    left: 0; /* Posiciona la bandera a la izquierda del header */
    top: 0; /* Alinea la bandera al inicio del header */
    /*transform: rotate(90deg); /* Rota la bandera 90 grados */
}


.cabecero p {
    color: #fff;
    margin: 0 15px; /* Añade un margen a la derecha del párrafo */
}

.cabecero a {
    margin-right: 10px; /* Añade un margen a la derecha de los enlaces */
}

#nav-bar-mobile{
    display: none;
}

.contacto{
    display: flex;
    align-items: center;
    margin: 0 70px;
}

.contenedor{
    position: relative;
    width: 100%;
    padding: 50px 0;
    background-image: url('fondo-menu.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    color: white; /* Cambia el color del texto para que sea legible */
    padding-top: 50px; /* Ajusta el espaciado superior para que el texto no esté pegado al borde superior */
    opacity: 1;
}

.titulo-y-logo{
    display: flex;
    margin-left: 160px;
}

.titulo-y-logo img{
    width: 50px;
}

.titulo_subse{
    margin: 0;
    color: #5A5A5A;
}

.titulo_subse p, h2, h3{
    padding: 0;
    margin: 0;
}

#nav-bar{
    width: 77%;
    margin: 0 auto;
    position: absolute;
    top: 220px; /* Superposición en el div superior */
    left: 20px; /* Ajuste de la posición izquierda */
    right: 20px; /* Ajuste de la posición derecha */
    z-index: 1; /* Asegura que la barra de navegación esté por encima del contenido */
}

.barra-fija{
    position: fixed; /* Lo hacemos fijo para que se mantenga en la parte superior */
    top: 0; /* Colocamos la barra en la parte superior */
    width: 77%; /* Ancho completo */
}

.volver-inicio{
    display: flex;
    margin: 25px 25px;
}

.volver-titulo{
    font-family: Arial, Helvetica, sans-serif;
    color: #31363F;
    align-self: center;
    margin-left: 15px;
    font-size: 100%;
}

#noticia-titulo{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 25px 0;
    color: #31363F;
}

#noticia-subtitulo{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0 150px;
    font-size: 150%;
    line-height: 2;
}

.bd-example-snippet{
    margin: 0 150px;
}

#noticia-contenido{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: 0 150px;
    font-size: 100%;
    line-height: 2;
}

#fechaPublicacion{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    margin-left: 150px;
    font-size: 90%;
}


.footer-container{
    padding: 50px 0;
    background-color: #5A5A5A;
}

@media (max-width:768px){

    .cabecero a{
        margin-left: 10px;
    }
    
    .transparencia{
        display: none;
    }

    .contacto{
        background: linear-gradient(to right, #063565 0%, #5059bc 100%);
        justify-content: center;
        position: fixed; 
        width: 100%;
        z-index: 20;  
        margin: 0;
        height: 75px;
    }


    #noticia-subtitulo{
        margin: 0 30px;
        text-align: justify;
        font-size: 125%;
    }

    .bd-example-snippet{
        margin: 0 30px;
    }

    #noticia-contenido{
        text-align: justify;
        margin: 0 30px;
        font-size: 100%;
        line-height: 2;
    }

    #fechaPublicacion{
        margin: 15px 30px;
    }
}