@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    padding: 0;
    margin: 0;
}

.cabecero {
    position: relative;
    background: linear-gradient(to right, #063565 0%, #5059bc 100%);
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente */
    justify-content: space-between; /* Alinea los elementos a la derecha */
    margin: 0;
    padding: 0px;
    height: 75px;
}

.bandera {
    margin-left: 10%;
    width: 350px;
    height: 125px;
    /*background: linear-gradient(to bottom, #1F93BC 0%,#2595D4 33%, white 33%, white 66%, #4BA32A 66%, green 100%);*/
    background: linear-gradient(to right, green 0%, #4BA32A 33%, white 33%, white 66%, #1F93BC 66%,#2595D4 100%);
    position: relative;
    left: 20px; /* Posiciona la bandera a la izquierda del header */
    top: 0; /* Alinea la bandera al inicio del header */
    /*transform: rotate(90deg); /* Rota la bandera 90 grados */
}


.cabecero p {
    color: #fff;
    margin: 0; /* Añade un margen a la derecha del párrafo */
}

.cabecero a {
    margin-right: 10px; /* Añade un margen a la derecha de los enlaces */
}

#nav-bar-mobile{
    display: none;
}

.contacto{
    display: flex;
    align-items: center;
    margin: 0 70px;
}

.contacto-mail{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

.contenedor{
    position: relative;
    width: 100%;
    padding: 50px 0;
    background-image: url('fondo-menu.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    color: white; /* Cambia el color del texto para que sea legible */
    padding-top: 50px; /* Ajusta el espaciado superior para que el texto no esté pegado al borde superior */
    opacity: 1;
    height: 70px;
}

.titulo-y-logo{
    display: inline-flex;
    margin-left: 10%;
}

.titulo-y-logo img{
    width: 225px;
}

.contenedor-linea-vertical{
    margin: 0px 20px;
}

.titulo_subse{
    margin: 0;
    color: #5A5A5A;
    align-self: center;
    font-family: 'Poppins';
}

.titulo_subse p, h2, h3{
    padding: 0;
    margin: 0;
}

#nav-bar{
    width: 77%;
    margin: 0 auto;
    position: absolute;
    top: 220px; /* Superposición en el div superior */
    left: 20px; /* Ajuste de la posición izquierda */
    right: 20px; /* Ajuste de la posición derecha */
    z-index: 1; /* Asegura que la barra de navegación esté por encima del contenido */
}

.barra-fija{
    position: fixed; /* Lo hacemos fijo para que se mantenga en la parte superior */
    top: 0; /* Colocamos la barra en la parte superior */
    width: 77%; /* Ancho completo */
}

.items-nav{
    list-style: none;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #063565 0%, #5059bc 100%);
    margin: 0;
    padding: 17px 0;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #fff;
}

.items-nav a{
    text-decoration: none;
    color: #fff;
}

.items-nav a:hover{
    color: #5A5A5A;
}

.item{
    padding: 0 30px;
}

button{
    cursor: pointer;
}

.contenido-lista-cards{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container{
    position: relative;
    width: 100%;
    padding: 50px 0;
    background-image: url('fondo-menu.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    color: white; /* Cambia el color del texto para que sea legible */
    opacity: 1;
}

.contenido-lista-cards a{
    text-decoration: none;
}

.card{
    display: flex;
    border-radius: 10px;
    width: 170px;
    height: 200px;
    margin: 5px 5px;
    background-color: #31363F;
}

.titulo-card{
    font-size: 100%;
    font-family: "Poppins", sans-serif;
    color: #fff;
    margin: 20px 10px 0 20px;
}


.titulo-card hr{
    height: 2px; /* Altura de la regla horizontal */
    border: none; /* Elimina el borde */
    background-color: #fff; /* Color de la regla horizontal */
    margin: 10px 0 5px; /* Márgenes superior e inferior */
    width: 25%;
}

.descripcion-card{
    text-align: justify;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: #fff;
    margin: 0px 10px 10px 20px;
}



.card:hover{
    background-color: #8a9a46;
}

.quienes-somos-container{
    display: grid;
    position: relative;
    width: 100%;
    background-color: #8a9a46;
    color: white; /* Cambia el color del texto para que sea legible */
    padding: 50px 0; /* Ajusta el espaciado superior para que el texto no esté pegado al borde superior */
}

.quienes-somos-titulo{
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 50px 0;
}

.quienes-somos-detalle{
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 0 150px;
    font-size: 150%;
    line-height: 2;
}

.organigrama {
    position: relative;
    display: grid;
}

.circular-image {
    justify-self: center;
    width: 200px; /* Ancho deseado de la imagen */
    height: 200px; /* Altura deseada de la imagen */
    border-radius: 50%; /* Hacer la imagen circular */
    overflow: hidden; /* Ocultar cualquier parte de la imagen que se extienda fuera del círculo */
    display: flex; /* Usar flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    box-shadow: 0 0 0 5px white; /* Agregar un borde blanco de 5px */
}

.circular-image img {
    max-width: 150%; /* Asegurar que la imagen no se extienda fuera del círculo */
    max-height: 150%; /* Asegurar que la imagen no se extienda fuera del círculo */
    object-fit: cover; /* Escalar la imagen para cubrir todo el espacio disponible */
}

.tree{
    width: 100%;
    height: auto;
    text-align: center;
}

.tree ul{
    padding: 0;
    padding-top: 20px;
    position: relative;
    transition: .5s;
}

.tree li{
    display: inline-table;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 10px;
    transition: .5s;
}

.tree li::before, .tree li::after{
    content: '';
    position: absolute;
    top:0;
    right: 50%;
    border-top: 5px solid #ccc;
    width: 51%;
    height: 10px;
}

.tree li::after {
    right: auto;
    left: 50%;
    border-left: 5px solid #ccc;
}

.tree li:only-child::after, .tree li:only-child::before{
    display: none;
}

.tree li:only-child{
    padding-top: 0;
}

.tree li:first-child::before, .tree li:last-child::after{
    border: 0 none;
}

.tree li:last-child::before{
    border-right: 5px solid #ccc;
    border-radius: 0px 25px 0px 0px
}

.tree li:first-child::after{
    border-radius: 25px 0px 0px 0px
}

.tree ul ul::before{
    content: '';
    position: absolute;
    top:0;
    left:50%;
    border-left: 5px solid #ccc;
    width: 0;
    height: 20px;
}

.tree a {
    padding: 10px;
    display: inline-grid;
    border-radius: 25px;
    text-decoration-line: none;
    border-radius: 25px;
    transition: .5s;
}

.tree a img{
    margin-bottom: 10px !important;
    border-radius: 100px;
    margin: auto;
}

.tree a span{
    font-family: "Poppins", sans-serif;
    border: 1px solid #ccc;
    border-radius: 25px;
    color: #fff;
    padding: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
}

.tree li a:hover, .tree li a:hover img, .tree li a:hover span, .tree li a:hover+ul li a, .tree li a:hover+ul li span{
    background: #c8d29c;
    color: #000;
    border: 1px solid #94a0b4;
    box-shadow: 0px 0px 8px -5px #5f5f5f;
}


.normativas-container{
    position: relative;
    width: 100%;
    height: 500px; /* O cualquier altura que desees */
    background-color: #063565;
    color: #fff; /* Cambia el color del texto para que sea legible */
    padding: 50px 0; /* Ajusta el espaciado superior para que el texto no esté pegado al borde superior */
}

.normativas-titulo{
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 50px 0;
}

.normativas-detalle{
    font-family: "Poppins", sans-serif;
    text-align: left;
    margin: 0 150px;
    font-size: 125%;
    line-height: 2;
}

.busqueda-container{
    margin: 30px 150px;
}

.formularios-container{
    display: flex;
    flex-wrap: wrap;
}

.categoria-titulo{
    font-family: "Poppins", sans-serif;
    text-align: left;
    margin: 25px 0px;
    font-size: 125%;
    line-height: 2;
}
.categoria-input {
    width: 150px; /* Ancho del input */
    height: 40px; /* Altura del input */
    border: 2px solid #ccc; /* Grosor y color del borde */
    border-radius: 20px; /* Radio de borde para hacerlo redondeado */
    padding: 5px; /* Espacio entre el borde y el contenido del input */
    font-size: 16px; /* Tamaño de la fuente dentro del input */
    margin-right: 50px;
}
  
.categoria-input:focus {
    outline: none; /* Elimina el contorno al enfocar el input */
    border-color: #31363F; /* Cambia el color del borde al enfocar el input */
}

.palabra-clave-titulo{
    font-family: "Poppins", sans-serif;
    text-align: left;
    margin: 25px 0px;
    font-size: 125%;
    line-height: 2;
}

.palabra-clave-input{
    width: 300px; /* Ancho del input */
    height: 40px; /* Altura del input */
    border: 2px solid #ccc; /* Grosor y color del borde */
    border-radius: 20px; /* Radio de borde para hacerlo redondeado */
    font-size: 16px; /* Tamaño de la fuente dentro del input */
    padding: 0 0 0 15px;
}

.palabra-clave-input:focus {
    outline: none; /* Elimina el contorno al enfocar el input */
    border-color: #31363F; /* Cambia el color del borde al enfocar el input */
}

.boton-buscar{
    margin-left: 20px;
    width: 150px; /* Ancho del input */
    height: 30px; /* Altura del input */
    border: 2px solid #ccc; /* Grosor y color del borde */
    border-radius: 20px; /* Radio de borde para hacerlo redondeado */
    font-size: 16px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

.boton-buscar:hover{
    background-color: #37801c;
    color: #fff;
}

.ocultar{
    display: none;
}

.tramites-container{
    padding: 50px 0;
    position: relative;
    width: 100%;
    background-image: url('fondo-menu.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    color: white; /* Cambia el color del texto para que sea legible */
    opacity: 1;
}

.tramites-titulo{
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 25px 0;
    color: #5A5A5A;
}

.categoria-titulo-2{
    font-family: "Poppins", sans-serif;
    text-align: left;
    margin: 25px 0px;
    font-size: 125%;
    line-height: 2;
    color: #5A5A5A;
}

.palabra-clave-titulo-2{
    font-family: "Poppins", sans-serif;
    text-align: left;
    margin: 25px 0px;
    font-size: 125%;
    line-height: 2;
    color: #5A5A5A;
}

.voluntariado-container{
    background: radial-gradient(circle at center,#DDDDDE 0%, #797677 100%);
    width: 100%;
    height: 240px;
    padding: 0;
    margin: 0;
    z-index: 0;
    display: flex;
    align-items: center;
}

.voluntariado-imagen{
    margin: 0;
    padding: 0;
    width: auto;
    height: 240px;
    position: absolute;
    z-index: 1;
}

.voluntariado-hojas-imagen{
    position: absolute;
    width: inherit;
    height: 240px;
}

.voluntariado-contenido{
    z-index: 2;
    position: re;
    display: block;
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 500px;
}

.voluntariado-titulo{
    font-family: "Poppins", sans-serif;
    color: #00203a;
}

.voluntariado-descripcion{
    font-family: "Poppins", sans-serif;
    margin: 15px 0;
    font-weight: bold;
    color: #00203a;
}

.voluntariado-boton{
    color: #000;
    margin-left: 20px;
    width: 180px; /* Ancho del input */
    height: 40px; /* Altura del input */
    border: 1px solid #000000;
    line-height: 40px;
    background-color: #c8d29c;
    background-size: cover;
    display: inline-block;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    text-decoration: none;
}

.voluntariado-boton:hover{
    background-color: #8a9a46;
    color: #fff;
}

.noticias-container{
    background: #5059bc;
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    padding: 50px 0;
}

.noticias-titulo{
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 25px 0;
    color: #fff;
}

.noticias-flexibles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.noticias-card-noticias{
    display: contents;
    margin: 50px;
    list-style: none;
    justify-content: center;
}

.enlace-noticia{
    text-decoration: none;
    display: grid;
}


.noticia-card{
    color: #000000;
    display: grid;
    width: 250px;
    height: 100%;
    background-color:#fff;
    padding: 10px;
    margin: 10px 10px;
}

.noticia-card:hover{
    background-color: #8a9a46;
}

.noticia-imagen{
    justify-self: center;
    width: 225px;
    height: 175px;
}

.noticia-titulo{
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 10px 0;
    color: #31363F;
}


.noticia-subtitulo{
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: medium;
    color: #31363F;
}

.noticia-resumen{
    font-family: "Poppins", sans-serif;
}

.fecha-noticia{
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.boton-ver-mas{
    color: #fff;
    margin: 20px auto;
    width: 180px; /* Ancho del input */
    height: 40px; /* Altura del input */
    background-color: #00203a;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-decoration: none;
    border-style: none;
}

.boton-ver-mas:hover{
    color: #000000;
    background-color: #fff;
}

.contacto-container{
    background: #f26df9;
    padding: 50px 0;
    margin: 0;
}

.contacto-titulo{
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 25px 0;
    color: #fff;
}

.contacto-formulario-container{
    margin: 50px;
    display: grid;
}

.asunto-input{
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    font-size: 100%;
    font-weight: bold;
}

/* Ocultar las flechas de incremento y decremento en campos de tipo number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

.contacto-datos-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contacto-datos{
    margin: 20px 0;
    width: 28%;
    padding: 15px;
    font-size: 100%;
    font-weight: bold;
}

.input-wrapper {
    position: relative;
    width: 100%;
    height: auto;
}

.mensaje-input{
    width: 100%;
    height: 35vh;
    padding: 15px;
    font-size: 100%;
    font-weight: bold;
    box-sizing: border-box;
    resize: none; /* Evita que el textarea sea redimensionable */
    overflow-y: auto; /* Añade barra de desplazamiento vertical si es necesario */
}

.mensaje-input::placeholder{
    position: absolute;
    top: 15px; /* Ajusta según la posición deseada */
    left: 15px; /* Ajusta según la posición deseada */
}

.mensaje-input:focus + .placeholder {
    display: none; /* Oculta el placeholder cuando el input está enfocado */
}

.boton-enviar{
    color: #417437;
    margin-top: 20px;
    width: 180px; /* Ancho del input */
    height: 40px; /* Altura del input */
    line-height: 20px;
    background-color: #BFD730;
    background-size: cover;
    display: block;
    justify-self: center;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    text-decoration: none;
    border-style: none;
}

.boton-enviar:hover{
    background-color: #37801c;
    color: #fff;
}

.separador{
    font-size: 300%;
    color: #5BAB3D;
    width: 100%;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.footer-container{
    padding: 50px 0;
    background-color: #5A5A5A;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 50;
}

@media (max-width:768px){
    .cabecero{
        display: flex;
    }

    .bandera{
        left: 0;
        margin: auto;
        justify-self: center;
    }

    .contacto{
        background: linear-gradient(to right, #063565 0%, #5059bc 100%);
        position: fixed; 
        width: 100%;
        z-index: 20;  
        margin: 0;
    }

    .contenedor{
        display: grid;
    }

    .titulo-y-logo{
        margin: 0;
        justify-self: center;
    }

    .contenedor-linea-vertical{
        margin: 0 10px 0 5px;
    }

    #nav-bar{
        display: none;
    }

    #nav-bar-mobile {
        display: flex;
        position: relative;
        top: 0;
        left: 0;
        width: 75px;
        height: 75px;
        background-color:#063565;
        color: #fff;
        z-index: 5;
    }
    
    .menu-icon {
        display: flex;
        align-self: center;
        padding: 10px;
        cursor: pointer;
        font-size: xx-large;
    }
    
    .items-nav {
        margin: 0;
        padding: 0;
        display: none;
    }
    
    .items-nav.active {
        display: inline-table;
    }
    
    .items-nav li {
        display: inline-block;
        margin-right: 20px;
        line-height: 100px;
    }
    
    .items-nav li a {
        display: inline-block;
        padding: 10px;
        text-decoration: none;
        color: white;
        height: 100%; /* Ajusta la altura de los elementos de navegación */
        vertical-align: middle; /* Centra verticalmente el texto */
    }

    .items-nav li:last-child {
        margin-right: 0; /* Elimina el margen derecho del último elemento */
        line-height: 3;
    }


    .quienes-somos-titulo{
        margin: 0 0 50px 0;
    }

    .quienes-somos-detalle{
        margin: 0 30px;
        text-align: justify;
        font-family: "Poppins", sans-serif;
        font-size: 125%;
    }

    .normativas-titulo{
        margin: 0 0 50px 0;
    }

    .normativas-detalle{
        margin: 0 30px;
        text-align: justify;
    }

    .busqueda-container{
        margin: 0 30px;
    }

    .categoria-titulo{
        margin: 7px 0;
    }

    .palabra-clave-titulo{
        margin: 7px 0;
    }

    .palabra-clave-input{
        width: auto;
    }

    .boton-buscar{
        margin: 25px;
    }

    .tramites-titulo{
        margin: 0 0 50px 0;
    }

    .categoria-titulo-2{
        margin: 7px 0;
    }

    .palabra-clave-titulo-2{
        margin: 7px 0;
    }

    .voluntariado-imagen{
        display: none;
    }

    .voluntariado-titulo{
        margin-top: 10px;
    }

    .voluntariado-descripcion{
        margin: 0;
    }

    .contacto-datos-container{
        display: contents;
    }

    .asunto-input{
        margin: 5px 0;
    }

    .contacto-datos {
        margin: 5px 0;
        width: auto;
    }

    .mensaje-input{
        margin-top: 5px;
    }
}