body{
    padding: 0;
    margin: 0;
}

.cabecero {
    position: relative;
    background-color: #31363F;
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente */
    justify-content: space-between; /* Alinea los elementos a la derecha */
    margin: 0;
    padding: 0px;
    height: 75px;
}

.bandera {
    margin: 150px;
    width: 350px;
    height: 125px;
    /*background: linear-gradient(to bottom, #1F93BC 0%,#2595D4 33%, white 33%, white 66%, #4BA32A 66%, green 100%);*/
    background: linear-gradient(to right, green 0%, #4BA32A 33%, white 33%, white 66%, #1F93BC 66%,#2595D4 100%);
    position: relative;
    left: 0; /* Posiciona la bandera a la izquierda del header */
    top: 0; /* Alinea la bandera al inicio del header */
    /*transform: rotate(90deg); /* Rota la bandera 90 grados */
}


.cabecero p {
    color: #fff;
    margin: 0 15px; /* Añade un margen a la derecha del párrafo */
}

.cabecero a {
    margin-right: 10px; /* Añade un margen a la derecha de los enlaces */
}

.contacto{
    display: flex;
    align-items: center;
    margin: 0 70px;
}

.contenedor{
    position: relative;
    width: 100%;
    height: 20vh; /* O cualquier altura que desees */
    background-image: url('fondo-menu.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    color: white; /* Cambia el color del texto para que sea legible */
    padding-top: 50px; /* Ajusta el espaciado superior para que el texto no esté pegado al borde superior */
    opacity: 1;
}

.titulo-y-logo{
    display: flex;
    margin-left: 160px;
}

.titulo-y-logo img{
    width: 50px;
}

.titulo_subse{
    margin: 0;
    color: #5A5A5A;
}

.titulo_subse p, h2, h3{
    padding: 0;
    margin: 0;
}

.nav-bar{
    width: 77%;
    margin: 0 auto;
    position: absolute;
}

.nav-bar {
    top: 220px; /* Superposición en el div superior */
    left: 20px; /* Ajuste de la posición izquierda */
    right: 20px; /* Ajuste de la posición derecha */
    z-index: 1; /* Asegura que la barra de navegación esté por encima del contenido */
  }

.items-nav{
    list-style: none;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, green 0%, #4BA32A 100%);
    margin: 0;
    padding: 17px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #fff;
}

.items-nav a{
    text-decoration: none;
    color: #fff;
}

.items-nav a:hover{
    color: #5A5A5A;
}

.item{
    padding: 0 30px;
}

button{
    cursor: pointer;
}

.contenido-lista-cards{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container{
    position: relative;
    width: 100%;
    height: 240px; /* O cualquier altura que desees */
    background-image: url('fondo-menu.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    color: white; /* Cambia el color del texto para que sea legible */
    padding-top: 50px; /* Ajusta el espaciado superior para que el texto no esté pegado al borde superior */
    opacity: 1;
}

.contenido-lista-cards a{
    text-decoration: none;
}

.card{
    display: flex;
    border-radius: 10px;
    width: 170px;
    height: 200px;
    margin: 0 5px;
    background-color: #31363F;
}

.titulo-card{
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    margin: 30px 0 0 30px;
}


.titulo-card hr{
    height: 2px; /* Altura de la regla horizontal */
    border: none; /* Elimina el borde */
    background-color: antiquewhite; /* Color de la regla horizontal */
    margin: 10px 0 5px; /* Márgenes superior e inferior */
    width: 25%;
}

.descripcion-card{
    text-align: justify;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    margin: 0px 10px 10px 30px;
}



.card:hover{
    background-color: #4BA32A;
}

.quienes-somos-container{
    position: relative;
    width: 100%;
    height: 700px; /* O cualquier altura que desees */
    background-color: #208AB0;
    color: white; /* Cambia el color del texto para que sea legible */
    padding-top: 50px; /* Ajusta el espaciado superior para que el texto no esté pegado al borde superior */
}

.quienes-somos-titulo{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 50px 0;
}

.quienes-somos-detalle{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0 150px;
    font-size: 150%;
    line-height: 2;
}

.normativas-container{
    position: relative;
    width: 100%;
    height: 500px; /* O cualquier altura que desees */
    background-color: #5BAB3D;
    color: white; /* Cambia el color del texto para que sea legible */
    padding-top: 50px; /* Ajusta el espaciado superior para que el texto no esté pegado al borde superior */
}

.normativas-titulo{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 50px 0;
}

.normativas-detalle{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 0 150px;
    font-size: 125%;
    line-height: 2;
}

.busqueda-normativas-container{
    margin: 30px 150px;
}

.formularios-container{
    display: flex;
    flex-wrap: wrap;
}

.categoria-titulo{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 25px 0px;
    font-size: 125%;
    line-height: 2;
}
.categoria-input {
    width: 150px; /* Ancho del input */
    height: 40px; /* Altura del input */
    border: 2px solid #ccc; /* Grosor y color del borde */
    border-radius: 20px; /* Radio de borde para hacerlo redondeado */
    padding: 5px; /* Espacio entre el borde y el contenido del input */
    font-size: 16px; /* Tamaño de la fuente dentro del input */
    margin-right: 50px;
}
  
.categoria-input:focus {
    outline: none; /* Elimina el contorno al enfocar el input */
    border-color: #31363F; /* Cambia el color del borde al enfocar el input */
}

.palabra-clave-titulo{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 25px 0px;
    font-size: 125%;
    line-height: 2;
}

.palabra-clave-input{
    width: 300px; /* Ancho del input */
    height: 40px; /* Altura del input */
    border: 2px solid #ccc; /* Grosor y color del borde */
    border-radius: 20px; /* Radio de borde para hacerlo redondeado */
    font-size: 16px; /* Tamaño de la fuente dentro del input */
    padding: 0 0 0 15px;
}

.palabra-clave-input:focus {
    outline: none; /* Elimina el contorno al enfocar el input */
    border-color: #31363F; /* Cambia el color del borde al enfocar el input */
}

.boton-buscar{
    margin: 100px 15px;
    width: 150px; /* Ancho del input */
    height: 30px; /* Altura del input */
    border: 2px solid #ccc; /* Grosor y color del borde */
    border-radius: 20px; /* Radio de borde para hacerlo redondeado */
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.boton-buscar:hover{
    background-color: #37801c;
}